@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

img {
    float: left;
}

#nav ul {
    margin: 30px;
    padding: 50px;


}

#nav ul li {
    list-style: none;
}

#nav a {
    color: #1a1a1a;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    margin: 5px;
    float: right;

}